WIX_HEADLESS_API_KEY=
WIX_HEADLESS_SITE_ID=b97a67bb-8f38-442d-8e50-69d29744f34c
WIX_CAREERS_COLLECTION_ID=
WIX_BLOGS_COLLECTION_ID=
WIX_DESIGNS_COLLECTION_ID=
GA4_MEASUREMENT_ID=
GA4_API_SECRET=
VITALS_LOG_STDOUT=0
REVALIDATE_SECRET=